mat-card {
    margin: 20px;
  }
  
  mat-card-header {
    background-color: #f4f4f4;
  }
  
  mat-card-title {
    font-size: 1.5rem;
  }
  
  mat-spinner {
    display: block;
    margin: 20px auto;
  }
  